body {
	background-color: #f8f9fa;
}

.thumb-redondo {
	border-radius: 80%;
	width: 160px;
	height: 160px;
	object-fit: cover;
	object-position: 0 60%;
	margin-top: 5px;
}

.color-font {
	color: #B84BFF;
}

.border-color {
	border-color: #fffafa;
}

.alinhamento-top {
	margin-top: 10px;
}

.alinhamento-bottom {
	margin-bottom: 25px;
}

.btn-color-salon {
	background-color: #B84BFF;
	color: #fffafa;
	font-size: 18px;
	margin-top: 25px;
}

.btn-color-salon-card {
	background-color: #B84BFF;
	color: #fffafa;
	font-size: 18px;
}

.color-font-label {
	color: black;
}

.tamanho-icone-padlock {
	font-size: 30px;
	margin: 5px;
}

.dropdown-menu {
	background-color: #f8f9fa;
	font-size: 14px;
	border-style: none;
}

.btn:focus, .btn:active {
	outline: none !important;
	box-shadow: none;
	color: #fffafa;
}

.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #fff;
}

.back-to-top {
	background-color: #17a2b8;
	border-radius: 75px;
	bottom: 14px;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .25);
	color: #fffafa;
	cursor: pointer;
	height: 40px;
	position: fixed;
	right: 22px;
	width: 40px;
	z-index: 3;
	text-align: center;
	padding-top: 8px;
}

.color-search {
	color: #212529;
}

.hr {
	margin: 10px 0px 10px 0px;
}

.obrigatorio {
	color: red;
}

.container {
	margin-top: 80px;
}

.container-card{
	margin-top:0px;
}

 .card-imagem {
    width: 14rem;
    object-fit:cover;
    object-position: 0 60%;
  }
  
 @media only screen and (max-width: 375px) {
  .card-imagem {
    width: 20rem;
    object-fit:cover;
    object-position: 0 60%;
  }
}

 @media only screen and (max-width: 320px) {
  .card-imagem {
    width: 15rem;
    object-fit:cover;
    object-position: 0 60%;
  }
}  
  .item-carrinho{
  	border: 1px solid;
  	border-color: #D3D3D3;
  	border-radius: 10px;
  	padding: 10px;
 }
 
#navbarNav{
    padding:10px;
    width:100%;
}
#navbarNav ul{
  	padding:0;
  	list-style:none;
	margin:0 auto;
}
.container-space-default{
	margin-top: 100px;
}

#modalLoading {
  text-align: center;
}
@media screen and (min-width: 375px) {
  #modalLoading:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-loading {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
